.botao {
    background-color: rgb(16, 82, 168);
    color:white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.315);
    border: none;
    width: 10%;
    height: 40px;
    margin: 15px;
    border-radius: 4px;

}