/* nav.css */

nav {
    display: flex;
    align-items: center; 
    background-color: #3FA5E0;
    width: 100%;
    box-shadow: 0px 5px 8px #3fa5e0a2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.contem {   
    display: flex;
    justify-content: space-between; 
    width: 100%;
   
 
}

.esquerda , .direita {
    
    display: flex;
    flex-direction: row;
    padding: 10px;
}


a{
    color:whitesmoke;
    text-decoration: none;

}
.img-opcoes{   
 margin: 50% 20px 0px 10px;
}
#lupa-img{
    height: 40px;
    width: 40px;
    display: flex;
   margin:auto 10px auto 0;
}
#lupa-ancora{
    display:flex;
    justify-content: center;
}