.estudante-card-sem-publicacao{
    background-color: #3FA5E0;
    color: white;
    width: 75%;
    margin:auto;
    border-radius: 10px;
    padding: 2px 4px 3px 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    
}
#estudante-nome{
    margin:auto 10px;
}
#estudante-area-de-estudos{
    margin: auto 0px;
    width: 200px;
   
}
#foto-perfil{
    width: 90px;
}