/* Estilo para o contêiner do card */
.card {
    border: 1px solid #55788B;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;
}

/* Estilo para o cabeçalho dentro do card */
.card header {
    font-size: 18px;
    font-weight: bold;
    color: #61604C;
    margin-bottom: 12px;
}

/* Estilo para o título dentro do card */
.card .corpo .titulo h1 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 8px;
}

/* Estilo para o corpo dentro do card */
.card .corpo {
    font-size: 16px;
    color: #555;
}

/* Estilo para os parágrafos dentro do corpo */
.card .corpo p {
    margin-bottom: 8px;
}

/* Estilo para a referência dentro do corpo */
.card .corpo p:last-child {
    font-style: italic;
    color: #888;
}
